{% extends 'base.html'%}

{% load static %}

{% block main_body %}

        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'mainpage' %}">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                     </a>
                                    <h2 style="color:white">Balakən</h2>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                         
                            </div>
                        </div>
                          <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <a href="{% url 'register' %}" class="login popup-with-form">
                                    <!-- <i class="flaticon-user"></i> -->
                                    <span></span>
                                </a>
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="{% url 'whatsapp' %}">
                                        <i class="fa fa-phone"></i>
                                        <span>+994 50 524 2346</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
            <h3>Haqqımızda</h3>
        </div>
        <!-- bradcam_area_end -->
 <!-- our_team_member_start -->
    <div class="our_team_member">
        <div class="container">
            <div class="row">
                {% for member in team_members %}
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="{{ MEDIA_URL }}{{ member.image.url }}" alt="">
                            <div class="social_link">
                                <a href="{{ member.facebook_url }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="{{ member.linkedin_url }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                                <a href="mailto:{{ member.email }}?Subject=Kurs haqqında" target="_blank"><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>{{ member.first_name }} {{ member.last_name }} </h3>
                            <h6> {{member.member_role }}</h6>
                            <p>{{ member.member_detail }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- our_team_member_end -->

    <!-- about_area_start -->
  <div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    {% for desc in front_data %}
                    <h3>{{ desc.description_header}}</h3>
                    <p>{{ desc.description }}</p>
                    {% endfor %}
                    <a href="{% url 'courses' %}" class="boxed_btn">Öyrənməyə başla</a>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="about_tutorials">
                    <div class="courses">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>10+</span>
                                <p> İl təcrübə</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-blue">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>10.000+</span>
                                <p> Məzun</p>
                            </div>

                        </div>
                    </div>
                    <div class="courses-sky">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>50+</span>
                                <p> Kurs</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- about_area_end -->

<!-- test field-->
<div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <!-- Button trigger modal -->
<!-- Modal -->
                </div>
            </div>
</div>

<!-- end test field -->

{% block footer %}
{% include 'footer.html'%}
{% endblock %} <!-- end footer block-->

{% endblock %} <!-- end main_body block --> 