{% extends 'base.html'%}
{% load static%}

{% block title %} Hədəf Balakən {% endblock %}

{% block main_body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <img src="{% static 'img/logo.png' %}" alt=""> <h1 style="color:white">Balakən</h1>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    {% for menu in menu_name %}
                                    <!-- <li><a class="active" href="Ən">home</a></li> -->
                                    <li><a href="{% url 'courses' %}">{{ menu.courses_exams }}</a></li>
                                    <!-- <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="#">course details</a></li>
                                            <li><a href="#">elements</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="{% url 'about'%}">{{ menu.about_us }}</a></li>
<!--                                    <li><a href="#blogs">Bloq yazıları</a></li>-->
                                    <li><a href="#contacts">{{ menu.contacts }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                        <div class="log_chat_btn d-flex align-items-center">
<!--                            <a class="boxed_btn_orange" href="{% url 'register' %}">-->
<!--                                <i class="flaticon-crown"></i>-->
<!--                                <span>Qeydiyyat</span>-->
<!--                            </a>-->
                            <div class="live_chat_btn">
                                <a class="boxed_btn_orange2" href="{% url 'login' %}">
                                    <i class="fa fa-user"></i>
                                    <span>Daxil Ol</span>
                                </a>
                            </div>
                            &nbsp;
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="{% url 'whatsapp' %}">
                                        <i class="fa fa-phone"></i>
                                        <span>+994 50 524 2346</span>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area ">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-md-6">
                    <div class="illastrator_png">
                        <img src="{% static 'img/banner/edu_ilastration.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="slider_info">
                        <h3>Sizi Hədəfə<br>
                            aparan <br>
                            ən inamlı yol!</h3>
                        <a href="{% url 'courses' %}" class="boxed_btn">{% for menu in menu_name %} {{menu.courses_exams }}a göz atın {% endfor %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- exams pane start -->
<div class="our_courses">
    {% for exam in front_data %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>{{exam.exam_details}}</h3>
                    <h4>{{exam.summativ_note}}</h4>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <img src="{{ MEDIA_URL }}{{ exam.exam_dates_1.url }}">
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <img src="{{ MEDIA_URL }}{{ exam.exam_dates_2.url }}">
                </div>
            </div>

            </div>
        </div>
    </div>
       {% endfor %}
</div>
<!-- examps pane end-->
<hr/><hr/>
<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="single_about_info">
                    {% for desc in front_data %}
                    <h3>{{ desc.description_header}}</h3>
                    <p>{{ desc.description }}</p>
                    {% endfor %}
                    <a href="{% url 'courses' %}" class="boxed_btn">Öyrənməyə başla</a>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="about_tutorials">
                    <div class="courses">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>10+</span>
                                <p> İl təcrübə</p>
                            </div>
                        </div>
                    </div>
                    <div class="courses-blue">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>10.000+</span>
                                <p> Məzun</p>
                            </div>

                        </div>
                    </div>
                    <div class="courses-sky">
                        <div class="inner_courses">
                            <div class="text_info">
                                <span>50+</span>
                                <p> Kurs</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->

<!-- subscribe_newsletter_Start -->
<div class="subscribe_newsletter">
    <div class="container">
         {% for subs in front_data %}
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="newsletter_text">

                    <h3>{{ subs.subscription_header }}</h3>
                    <p>{{subs.subscription_text}}</p>

                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="newsletter_form">

                    <h4>{{subs.subscription_form_header}}</h4>
                    <form action="#" class="newsletter_form">
                        <input type="text" placeholder="məs: 0505242346">
                        <button type="submit">Təsdiqlə</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- subscribe_newsletter_end -->

<!-- our_courses_start -->
<div class="our_courses">
    {% for spec in front_data %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">

                    <h3>{{spec.our_specialities_header}}</h3>
                    <p>{{spec.our_specialities_desc}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-art-and-design"></i>
                    </div>
                    <h3>{{spec.our_specialities_1}}</h3>
                    <p>
                        {{spec.our_specialities_1_desc}}
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon blue">
                        <i class="flaticon-business-and-finance"></i>
                    </div>
                    <h3>{{spec.our_specialities_2}}</h3>
                    <p>
                        {{spec.our_specialities_2_desc}}
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-premium"></i>
                    </div>
                    <h3>{{spec.our_specialities_3}}</h3>
                    <p>
                        {{spec.our_specialities_3_desc}}
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon gradient">
                        <i class="flaticon-crown"></i>
                    </div>
                    <h3>{{spec.our_specialities_4}}</h3>
                    <p>
                        {{spec.our_specialities_4_desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
       {% endfor %}
</div>
<!-- our_courses_end -->

<div id="contacts">
    {% block footer%}
    {% include 'footer.html'%} <!-- Footer is here -->
    {% endblock %} <!-- end footer -->
</div>
{% endblock %} <!-- end  body--> 