{% extends 'base_dashboard.html'%}
{% load static%}
{% load widget_tweaks %}
{% block title %} ELC | Dashboard {% endblock%}

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
<!--          {% block active_quiz_create %} class='active' {% endblock active_quiz_create%}-->
      {% endblock navbar %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-12">
          <div class="card">
             <div class="card-header">
                <h4 class="card-title">Quiz adı:</h4>
              </div>
             <div class="card-body">
            <form method="POST" >
                {% csrf_token %}
                {% render_field quiz.quiz_name style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Quiz adını daxil edin" %}
              <button type="submit" class="btn btn-success">Quizi Yarat</button>
            </form>
             </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Hazır Quizlər</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Quizin adı
                      </th>
                      <th class="text-right">
                        Sual sayı
                      </th>
                    <th class="text-right">
                        Tələbəyə <br/> görünsün?
                      </th>
                    </thead>
                    <tbody>
                    {% for quiz in quizes %}
                      <tr>
                        <td>
                         <a href="{% url 'createquestions' id=quiz.id %}">{{ quiz.quiz_name }}</a>
                        </td>
                        <td  class="text-right">
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>
                    {% endfor %} <!-- end Quiz names list FOR -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title"> Arxiv Quizlər</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Mövzu
                      </th>
                      <th>
                        Quiz adı
                      </th>
                      <th>
                        Nəticələr
                      </th>
                      <th class="text-right">
                        Suallara bax
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end content -->
         {% endblock content %}
   {% block footer %} {{ block.super }}{% endblock footer%}
    </div>

  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>

  {% endblock main_body %}
</body>
