{% load static %}
{% block footer %}
<!-- footer -->
<footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                                Texnologiya ənənəvi bizneslərin 10 addım daha irəlidən başlamasına imkan yaradır
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Kurslar
                            </h3>
                            <ul>
                                <li><a href="#">Rus dili</a></li>
                                <li><a href="#"> Ingilis dili</a></li>
                                <li><a href="#">Abituriyent hazırlığı</a></li>
                                <li><a href="#">Magistratura hazırlığı</a></li>
                                <li><a href="#">Məktəbəqədər hazırlıq</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Resourches
                            </h3>
                            <ul>
                                <li><a href="#">Free Adobe XD</a></li>
                                <li><a href="#">Tutorials</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> About</a></li>
                                <li><a href="#"> Contact</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <p>
                                Balakən ray., AZ0800 <br>
                                +994 50 9 613 613 <br>
                                info@ganda.az
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> With <i class="fa fa-heart-o" aria-hidden="true"></i> by GANDA</a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %} <!-- end Footer -->