{% extends 'base.html'%}
{% load static%}
{% load widget_tweaks %}

{% block title %} LCC | Daxil Ol  {% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="background-color: #666666;">
	{% block main_body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<!-- FORM start -->
				<form class="login100-form validate-form" method="POST">
                    <br/><br/><br/><br/>
                <center>
					<h2>Parolu dəyişmək qaydaları e-mailinizə göndərildi</h2>
                    <h6>Zəhmət olmazsa mailinizi yoxlayın</h6>
                </center>
				</form>
				<!-- FORM end -->

				<div class="login100-more" style="background-image: url({% static 'img/bg-01.jpg' %} );">
				</div>
			</div>
		</div>
	</div>

{% endblock %}
</body>