{% extends 'base_dashboard.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} ELC | Dashboard {% endblock%}
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
<!--          {% block active_quiz_create %} class='active' {% endblock active_quiz_create%}-->
      {% endblock navbar %}

{% block content %}
<div class="content">
<div class="row">
  <div class="col-md-12">
  <div class="card">
     <div class="card-header">
        <h4 class="card-title">İmtahanlar</h4>
      </div>
      <p>
        <button type="button" class="btn btn-primary js-create-quiz">
          <span class="glyphicon glyphicon-plus"></span>
          Yeni imtahan
        </button>
      </p>
      <div class="card-body">
          <table class="table" id="quiz-table">
            <thead>
              <tr>
                <th>Ad</th>
                <th>Sual sayı</th>
                <th>Status</th>
                <th>Zaman</th>
              </tr>
            </thead>
            <tbody>
             {% include 'main_page/dashboard/quiz_app/with_ajax/partial_quiz_list.html' %}
            </tbody>
          </table>

<!--          Modal         -->
          <div class="modal fade" data-backdrop="false" id="modal-quiz" tabindex="-1" role="dialog" aria-labelledby="modal-quizLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
              </div>
            </div>
          </div>

          </div>
      </div>
      </div>
    </div>
    </div>
{% endblock %}

         {% block footer %} {{ block.super }}{% endblock footer%}
    </div>

<!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>
<script src="{% static 'js/quizes/quizes.js' %}"></script>

  {% endblock main_body %}
</body>
