{% extends 'base_dashboard.html'%}
{% load static%}
{% load widget_tweaks %}
{% block title %} ELC | Dashboard {% endblock%}

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
<!--          {% block active_quiz_create %} class='active' {% endblock active_quiz_create%}-->
      {% endblock navbar %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-12">
          <div class="card">
             <div class="card-header">
               {% if update %}
                <h4 class="card-title">Dəyişiklik et</h4>
               {% else %}
                <h4 class="card-title">Yeni Quiz</h4>
               {% endif %}

              </div>

            {% if messages %}
                {% for message in messages %}
                  <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  </div>
                  {% endfor %}
              {% endif %}

             <div class="card-body">
            <form method="POST" >
                {% csrf_token %}
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                  {% render_field quiz.name style="color:#3299a8;border-radius:10px; width: 50%;" class="form-control" placeholder="Quiz adını daxil edin" %}
                  </div>
                <div class="form-check">
                  <label class="form-check-label">
                  <b>Tələbə görsün? </b>{% render_field quiz.status class="form-check-input" type="checkbox" style="color:#3299a8;border-radius:10px; width: 3%;" %}
                    <span class="form-check-sign">
                    <span class="check"></span>
                  </label>
                </div>
                </div> <!-- left col-->

                <div class="col-md-4">
                  <div class="form-group field">
                    <label class="form-check-label">
                    <b>Tələbə Qrupunu seç: </b>{% render_field quiz.group style="color:#3299a8;border-radius:10px;" class="form-check-input" %}
                    </label>
                  </div>
                </div> <!-- right col-->
              </div> <!--row -->
              <br/> <br/>
              <div class="row">
                <div class="col"></div>
                <div class="col"> <button type="submit" class="btn btn-success">Yadda Saxla</button></div>
                <div class="col"></div>
              </div>
            </form>
             </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Əlavə Edilmiş Quizlər</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  {% if quizes %}
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Quizin adı
                        </th>
                        <th class="text-center">
                          Sual sayı
                        </th>
                      <th class="text-right">
                          Tələbəyə görünsün?
                        </th>
                        &nbsp;&nbsp;
                      <th class="text-center">
                        Əməliyyatlar
                      </th>
                      </thead>
                      <tbody>
                        {% for quiz in quizes %}
                          <tr>
                            <td>
                             <a href="{% url 'addquestion' id=quiz.id %}">{{ quiz.name }}</a>
                            </td>
                            <td  class="text-center">
                              <!-- Quiz-dəki aktiv sual sayı üçün 'quiz.get_question_count'  -->
                              {{ quiz.get_question_count }}
                            </td>
                            <td class="text-center">
                               {% if quiz.status %}
                                <b>Aktiv</b>
                                {% else %}
                                <b>Görünmür</b>
                                {% endif %}
                            </td>
                            <td class="text-center" style="padding-right:3px%">
                                <a href="{% url 'updatequiz' quiz_id=quiz.id %}" title="Dəyişdir" class="btn btn-success">
                                  <i class="fas fa-edit"></i>
                                </a>
                              &nbsp;&nbsp;
                          <!--   Quiz-i silmək üçün modal-->
                                <button type="button" name="button" class="btn btn-danger" onclick="document.getElementById('{{quiz.id}}deleteQuiz').style.display='block'">
                                  <span data-feather="trash" ><i class="fas fa-trash"></i></span>
                            </button>
                            <div id="{{quiz.id}}deleteQuiz" class="modal">
                              <div class="modal-dialog modal-dialog-centered" role="document">

                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="{{quiz.id}}deleteQuizTitle">Quiz-i sil</h5>
                                  </div>
                                  <div class="modal-body">
                                    <b>{{ quiz.name }}</b> quiz-i silinəcək. Əminsiniz?
                                  </div>
                                  <div class="modal-footer">
                                    <a class="btn btn-outline-info" onclick="document.getElementById('{{quiz.id}}deleteQuiz').style.display='none'" class="close" title="Bağla" >
                                      Bağla
                                    </a>
                                    <a class="btn btn-outline-danger" title="Quizi sil" href="{% url 'deletequiz' id=quiz.id %}">Sil</a>
                                  </div>
                                </div>
                               </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor %} <!-- end Quiz names list FOR -->
                      </tbody>
                    </table>
                  {% else %}
                    <h3 class="text-center">Quiz yoxdur</h3>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title"> Arxiv Quizlər</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Mövzu
                      </th>
                      <th>
                        Quiz adı
                      </th>
                      <th>
                        Nəticələr
                      </th>
                      <th class="text-right">
                        Suallara bax
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end content -->
         {% endblock content %}
   {% block footer %} {{ block.super }}{% endblock footer%}
    </div>

<!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>

  {% endblock main_body %}
</body>
