{% extends 'base_dashboard.html'%}
{% load static %}
{% load widget_tweaks %}
{% block title %} ELC | Dashboard {% endblock%}

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
<!--          {% block active_quiz_create %} class='active' {% endblock active_quiz_create%}-->
      {% endblock navbar %}

{% block content %}
      <div class="content">
          <div class="row">
          <div class="col-md-12">
          <div class="card">
             <div class="card-header">
                <h4 class="card-title">Quiz adı ~ <strong style="color:#4287f5;">{{ quiz.name }}</strong></h4>
              </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      {% if update %}
                        <h4 class="card-title">Dəyişiklik et</h4>
                      {% else %}
                        <h4 class="card-title">Yeni sual</h4>
                      {% endif %}
                  </div>
                  {% if messages %}
                    {% for message in messages %}
                      <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                        </div>
                      </div>
                      {% endfor %}
                  {% endif %}
                  <div class="card-body">
                      <div class="table-responsive">
                          <form method="POST" enctype= multipart/form-data >
                              {% csrf_token %}

                              {% render_field q_form.image style="color:#3299a8;border-radius:10px; width: 50%;" class="form-control" placeholder="Şəkilli sual üçün şəkil daxil edin" %}
                              <br>
                              {% render_field q_form.text id="question_field" style="color:#3299a8;border-radius:10px; width: 75%;" class="form-control" placeholder="Sualı daxil edin" %}
                              <br>
                              <div id="variant_field_div">
                               {% render_field a_form.text  id="variant_field" style="color:#3299a8;border-radius:10px; width: 50%;" class="form-control" placeholder="Variantı daxil edin" %}
                              </div>
                              <div id="variant_field_add"> </div>
                              <button id="addvariant" type="button" class="btn btn-default"><span class="now-ui-icons ui-1_simple-add"></span></button>
                              <button id="removevariant" type="button" class="btn btn-default"><span class="now-ui-icons ui-1_simple-delete"></span></button>
                              <br>
                              <button type="submit" class="btn btn-outline-success">Yadda saxla</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
        </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">
                              Suallar
                          </h4>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              {% if questions %}
                              <table class="table">
                                  <thead class=" text-primary">
                                    <th>№</th>
                                    <th>Sual</th>
                                    <th>Şəkil</th>
                                    <th></th>
                                  </thead>
                                  <tbody>
                                      {% for question in questions %}
                                      <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td>
                                              <a href="{% url 'addvariants' id=question.id %}"> <strong> {{ question.text }} </strong></a>
                                          </td>
                                          <td>
                                              {% if question.image %}
                                                <a href="{{ MEDIA_URL }}{{ question.image.url }}"><img src="{{ question.image.url }}" style="width:50px; height:40px;"></a>
                                              {% else %}
                                                Yoxdur
                                              {% endif %}
                                          </td>
                                          <td>
                                              <a title="Dəyişdir" href="{% url 'updatequestion' quiz_id=quiz.id question_id=question.id %}">
                                                  <i class="fas fa-edit"></i>
                                              </a>
                                          </td>
                                          <td>
                                            <!--   Sualı silmək üçün modal-->
                                                  <button type="button" name="button" class="btn btn-outline-danger" onclick="document.getElementById('{{question.id}}deleteQuestion').style.display='block'">
                                                        <span data-feather="trash">Sil</span>
                                              </button>
                                              <div id="{{question.id}}deleteQuestion" class="modal">
                                                <div class="modal-dialog modal-dialog-centered" role="document">

                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="{{question.id}}deleteQuestionTitle">Sualı sil</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                      <b>{{ question.text }}</b> sualı silinəcək. Əminsiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                      <a class="btn btn-outline-info" onclick="document.getElementById('{{question.id}}deleteQuestion').style.display='none'" class="close" title="Bağla" >
                                                        Bağla
                                                      </a>
                                                      <a class="btn btn-outline-danger" title="Sualı sil" href="{% url 'deletequestion' id=question.id %}">Sil</a>
                                                    </div>
                                                  </div>
                                                 </div>
                                                </div>
                                              </td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                              {% else %}
                                <h3 class="text-center">Sual yoxdur</h3>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          </div>
         {% endblock content %}

   {% block footer %} {{ block.super }}{% endblock footer%}

  </div>

<!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>
  <script src="{% static 'js/quiz_add_new_variants.js' %}"></script>

  {% endblock main_body %}
</body>
