{% extends 'base_dashboard.html'%}
{% load static%}
{% load widget_tweaks %}
{% block title %} ELC | Dashboard {% endblock%}

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->

      {% block navbar %} {{ block.super }}
<!--          {% block active_quiz_create %} class='active' {% endblock active_quiz_create%}-->
      {% endblock navbar %}

{% block content %}
      <div class="content">
          <div class="row">
          <div class="col-md-12">
          <div class="card">
             <div class="card-header">
                <h4 class="card-title">Quiz adı:</h4>
              </div>
             <div class="card-body">

                    {% for quiz in quizes %}
                      {{ quiz.quiz_name }}
                    {% endfor %}
                 <!-- end Quiz names list FOR -->

             </div>
          </div>
          </div>
        </div>

          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Sual:</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <form method="POST" enctype= multipart/form-data >
                              {% csrf_token %}


                              {% render_field question_form.question_image style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Şəkilli sual üçün şəkil daxil edin" %}

                              {% render_field question_form.question_description style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Sualı daxil edin" %}

                              {% render_field question_form.variantA style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Varinat A" %}

                              {% render_field question_form.variantB style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Varinat B" %}

                              {% render_field question_form.variantC style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Varinat C" %}

                              {% render_field question_form.variantD style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Varinat D" %}

                              {% render_field question_form.teacher_answer style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Doğru cavab" %}

                              <button type="submit" class="btn btn-success">Sualı əlavə et</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title">
                              Suallar:
                           {% for quiz in quizes %}
                              <strong style="color:#4287f5;">{{ quiz.quiz_name }}</strong>
                                {% endfor %}</h4>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                    <th>№</th>
                                    <th>Sual</th>
                                    <th>Şəkil</th>
                                    <th>Variant A</th>
                                    <th>Variant B</th>
                                    <th>Variant C</th>
                                    <th>Variant D</th>
                                  </thead>
                                  <tbody>
                                      {% for question in questions %}
                                      <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td> <strong> {{ question.question_description }} </strong> </td>
                                          <td>
                                              {% if question.question_image %}
                                                <a href="{{ MEDIA_URL }}{{ question.question_image.url }}"><img src="{{ question.question_image.url }}" style="width:50px; height:40px;"></a>
                                              {% endif %}
                                          </td>
                                          <td>{{ question.variantA }}</td>
                                          <td>{{ question.variantB }}</td>
                                          <td>{{ question.variantC }}</td>
                                          <td>{{ question.variantD }}</td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          </div>
         {% endblock content %}

   {% block footer %} {{ block.super }}{% endblock footer%}

  </div>

  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>

  {% endblock main_body %}
</body>
