{% extends 'base_dashboard.html'%}
{% load static%}
{% load widget_tweaks %}
{% load dashboard_extras %}
{% block title %} ELC | Dashboard {% endblock%}

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
<!--          {% block active_quiz_student %} class='active' {% endblock active_quiz_student%}-->
      {% endblock navbar %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Quizlər</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Quizin adı
                      </th>
                      <th>
                        Status
                      </th>
                      <th class="text-right">
                        Sual sayı
                      </th>
                    </thead>
                    <tbody>
                    {% for quiz in quiz_name %}
                      <tr>
                        {% if request.user|hasgroup:"controller" or  request.user|hasgroup:"teacher" %}

                        <td>
                         <a href="{% url 'quizview' quiz_id=quiz.id %}">{{ quiz.name }}</a>
                        </td>
                        <td>
                            {% if quiz.status %}
                                <b>aktiv</b>
                            {% else %}
                                <b>aktiv deyil</b>
                            {% endif %}
                        <td  class="text-right">
                          {{ quiz.get_question_count }}
                        </td>
                        {% endif %} <!-- end ROLE if -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` -->
                        {% if request.user|hasgroup:"student" %}
                         {% if quiz.status %}
                            <td>
                             <a href="{% url 'quizview' quiz_id=quiz.id %}">{{ quiz.name }}</a>
                            </td>
                            <td>
                                {% if quiz.status %}
                                    <b>aktiv</b>
                                    {% else %}
                                    <b>aktiv deyil</b>
                                {% endif %}
                            </td>
                            <td  class="text-right" style="padding-right:8%">
                              {{ quiz.get_question_count }}
                            </td>
                        {% endif %} <!-- end quiz-status if -->
                        {% endif %} <!-- end ROLE-std if -->
                      </tr>
                    {% endfor %} <!-- end Quiz names list FOR -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title"> İşlənmiş Quizlər</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Mövzu
                      </th>
                      <th>
                        Quiz adı
                      </th>
                      <th>
                        Nəticə
                      </th>
                      <th class="text-right">
                        Suallara bax
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          $36,738
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end content -->
         {% endblock content %}
   {% block footer %} {{ block.super }}{% endblock footer%}
    </div>

  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>

  {% endblock main_body %}
</body>
