{% extends 'base_dashboard.html'%}
{% load static%}
{% block title %} ELC | Dashboard {% endblock%}

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
<!--           {% block active_studentslist %} class='active' {% endblock active_studentslist %}-->
      {% endblock navbar %}

{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <div>
                    <h4 class="card-title"> Tələbələrin siyahısı</h4>
                    <form action="{% url 'searchstudent' %}" method="get" >
                      <div class="input-group no-border" >
                        <input name="q" type="text" class="form-control" placeholder="Axtar...">
                        <div class="input-group-append"  style="height:40px;">
                          <div class="input-group-text">
                              <button type="submit" class="btn btn-primary" style="border-radius:30px;">
                                <i class="fas fa-search"></i>
                              </button> &nbsp;
                              <a href="{% url 'students' %}">
                                  <h3 title="Tələbələr cədvəlinə geri" ><i class="fa fa-times"></i></h3>
                              </a>
                          </div>
                        </div>
                      </div>
                    </form>
                   </div>
               </div>
               {% if search_result %}
                {% if messages %}
                {% for message in messages %}
                  <div class="container-fluid p-0">
                    <div class="alert alert-success alert-dismissible" role="alert" >
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  </div>
                  {% endfor %}
              {% endif %}
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                     <th></th>
                      <th>
                        Ad/Soyad
                      </th>
                       <th class="text-center">
                        Nömrə
                      </th>
                       <th class="text-center">
                        Doğum tarixi
                      </th>
                      <th>
                        Qrupları
                      </th>
                      <th class="text-center">
                        Performansı
                      </th>
                    </thead>
                    <tbody>
                    {% for student in search_result %}
                      <tr>
                        <td>{{forloop.counter}}.</td>
                        <td
                                {% if not student.status %}
                                style="opacity:.2"
                            {% endif %} >
                          <a style="color:blue;" href="{% url 'updatestudent' id=student.pk %}">{{ student.student.first_name }} &nbsp; {{ student.student.last_name }}</a>
                        </td>
                        <td class="text-center"
                            {% if not student.status %}
                                style="opacity:.2"
                            {% endif %} >
                            {% if student.phone_prefix == "Aze1" %}
                                (050)
                            {% elif student.phone_prefix == "Aze2" %}
                                (051)
                            {% elif student.phone_prefix == "Bak1" %}
                                (055)
                            {% elif student.phone_prefix == "Bak2" %}
                                (099)
                            {% elif student.phone_prefix == "Nar1" %}
                                (070)
                            {% elif student.phone_prefix == "Nar2" %}
                                (077)
                            {% endif %}
                               {{ student.phone_number }}
                        </td>
                        <td class="text-center"
                           {% if not student.status %}
                                style="opacity:.2"
                            {% endif %} >
                          {{ student.birthdate}}
                        </td>
                          <td class="text-center"
                            {% if not student.status %}
                                style="opacity:.2"
                            {% endif %} >
                          --
                        </td>
                          <td class="text-center"
                            {% if not student.status %}
                                style="opacity:.2"
                            {% endif %} >
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{student.student.id}}studentsModalLong">
                              <i class="fas fa-eye"></i></button>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
             {% else %}
                <div class="container"style="width:100%; height:500px; text-align:center;">
                  <div class="container" style="text-align:center; width:300px; height:200px; position:absolute; top:10%; left:33%; padding:60px; background:#f2f4f7; border-radius:2%;">
                    <h3 style="color:#41577a;">Nəticə yoxdur</h3>
                    <br>
                    <a class="btn btn-primary" href="{% url 'students' %}">Tələbələr listinə qayıt</a>
                  </div>
                </div>

            {% endif %}
            </div>
          </div>
        </div>
      </div> <!-- end content -->

    <!-- Students list modal -->
    {% for student in search_result %}
<div class="modal fade" data-backdrop="false" id="{{student.student.id}}studentsModalLong" tabindex="-1" role="dialog" aria-labelledby="{{student.student.id}}studentsModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{student.student.id}}studentsModalLongTitle">{{ student.student.first_name }}-in quizlər ortalaması: X</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead class=" text-primary">
              <th>Quiz adı</th>
              <th>İşlənmə tarixi</th>
              <th>Nəticə</th>
            </thead>
            <tbody>
              <tr>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>
     {% endfor %}

         {% endblock content %}
   {% block footer %} {{ block.super }}{% endblock footer%}
    </div>
   <!--   Core JS Files   -->
 <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  {% endblock main_body %}
</body>
