{% extends 'base_dashboard.html'%}
{% load static %}

{% block mycss %}
<style>
      #mymessage {
      display:none;
      background: #f1f1f1;
      color: #000;
      position: relative;
      padding: 10px;
      margin-top: 5px;
    }

    #mymessage p {
      padding: 5px 17px;
      font-size: 10px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
      color: green;
    }

    .valid:before {
      position: relative;
      left: -17px;
      content: "✔";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
      color: red;
    }

    .invalid:before {
      position: relative;
      left: -17px;
      content: "✖";
    }

    </style>
{% endblock mycss %}

{% load widget_tweaks %}
{% block title %} ELC | Dashboard {% endblock%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<body>
{% block sidebar %} {{block.super}} {% endblock sidebar %}

{% block main_body %}

  <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      {% block navbar %} {{ block.super }}
           <!-- {% block active_studentcreate %} class='active' {% endblock active_studentcreate%} -->
      {% endblock navbar %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Tələbə əlavə et</h4>
            <div class="align-self-end ml-auto">
              <a class="btn btn-primary float-right" href="{% url 'students' %}" >Tələbələr listi</a>
            </div>
        </div>
          {% if messages %}
                {% for message in messages %}
                  <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  </div>
                  {% endfor %}
              {% endif %}
        <form method="POST"  id="std_form" enctype= "multipart/form-data">
          {% csrf_token %}
          <section class="section">
            <div class="container ">
              <div class="columns" style="margin: 0 auto; max-width: 536px;">
                <div class="column is-half is-offset-one-quarter">

                  {% for hidden in studentForm.hidden_fields %}
                      {{ hidden.errors }}
                      {{ hidden }}
                  {% endfor %}

                 <div class="field">
                    <div class="control">
                      {% render_field userForm.username id="form_username" title="İstifadəçi adını daxil edin." style="color:#3299a8;border-radius:10px; border:1px;" class="form-control" name="" required="" placeholder="istifadəçi adı"%}
                    </div>
                     <span class="error_form" id="username_error_message"></span>
                  </div>
                  <br>

                    <div class="field">
                    <div class="control">
                      {% render_field userForm.first_name id="form_firstname" title="Ad daxil edin." style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="ad" %}
                    </div>
                  </div>
                  <br>

                 <div class="field">
                    <div class="control">
                        {% render_field userForm.last_name id="form_lastname" title="Soyad daxil edin." style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="soyad"%}
                    </div>
                  </div>
                  <br>

                <div class="field">
                <div class="control">
                  {% render_field userForm.email title="Email daxil edin." style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="e-mail" %}
                </div>
                  </div>
                  <br>

                  <div class="field">
                    <label>Status</label>
                    <div class="control">
                      {% render_field studentForm.status style="color:#3299a8;border-radius:10px;" class="form-control" %}
                    </div>
                  </div>
                  <br>

                    <div class="field">
                        <div class="select">
                          {% render_field studentForm.phone_prefix %}
                        </div>
                        <div class="control">
                          {% render_field studentForm.phone_number class="input" placeholder="Mobil nömrəniz (Məs: 1234567 )" id="form_fphone" name="" required="" %}
                        </div>
                        <span class="error_form" id="fphone_error_message"></span>
                      </div>
                  <br>

                    <div class="field">
                    <label>Doğum günü</label>
                    <div class="control">
                      {% render_field studentForm.birthdate style="color:#3299a8;border-radius:10px;" class="form-control" %}
                    </div>
                  </div>
                  <br>

                    <div class="field">
                    <label>Profil Şəkli</label>
                    <div class="control">
                      {% render_field studentForm.image style="color:#3299a8;border-radius:10px;" class="form-control" %}
                    </div>
                  </div>
                  <br>

                 <div class="field">
                    <div class="control form-group">
                      {% render_field userForm.password1 title="Parolu daxil edin." id="psw1" name="psw1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Ən az 1 rəqəm, 1 böyük hərf, 1 kiçik hərf, və minimum 8 simvol olmalıdır" style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Parol" %}
                    </div>
                        <span class="error_form" id="password1_error_message"></span>
                  </div>
                    <div id="mymessage">
                      <h3 style="font-size: 12px;">Parol aşağıdakı şərtləri ödəməlidir:</h3>
                      <p id="letter" class="invalid">1 kiçik hərf</p>
                      <p id="capital" class="invalid">1 böyük hərf</p>
                      <p id="number" class="invalid">1 rəqəm </p>
                      <p id="length" class="invalid">Minimum 8 simvol</p>
                    </div>

                    <div class="field">
                    <div class="control form-group">
                      {% render_field userForm.password2 title="Parolu təkrar daxil edin." id="psw2" name="psw2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Parollar eyni deyil." style="color:#3299a8;border-radius:10px;" class="form-control" placeholder="Parolu təkrar yaz" %}
                    </div>
                        <span class="error_form" id="password2_error_message"></span>
                  </div>

                </div>
              </div>
            </div>
          </section>


          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-center custom-pro-edt-ds">
                    <!-- <input type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10" value="Save"> -->
                    <button type="submit" class="btn btn-outline-success">Yadda saxla</button>
                      <!-- <button type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10">Save</button> -->
                      <a type="button" class="btn btn-outline-warning" href="{% url 'students' %}">İmtina et</a>

                  </div>
              </div>
          </div>
         <br>
        </form>
      </div>
    </div>
  </div>
</div> <!-- end content -->


{% endblock content %}

{% block footer %} {{ block.super }}{% endblock footer%}
</div>
</div>

  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'js/now-ui-dashboard.min.js?v=1.5.0' %}" type="text/javascript"></script>
  <script src="{% static 'demo/demo.js' %}"></script>

  <script src="{% static 'js/password_validatee.js' %}"></script>
  <script src="{% static 'js/register_teacher_sttd.js' %}"></script>


{% endblock main_body %}
</body>
